<footer class="site-footer">
  <ul class="social-links">

    {% if site.social.instagram.url %}
    <li>
      <a href="{{ site.social.instagram.url }}" target="_blank" rel="noopener"
        aria-label="{{ site.social.instagram.name }}">
        {% include icons/{{ site.social.instagram.icon }} %}
      </a>
    </li>
    {% endif %}

    {% if site.social.linkedin.url %}
    <li>
      <a href="{{ site.social.linkedin.url }}" target="_blank" rel="noopener"
        aria-label="{{ site.social.linkedin.name }}">
        {% include icons/{{ site.social.linkedin.icon }} %}
      </a>
    </li>
    {% endif %}

  </ul>
</footer>